.notification-container {
  padding: 30px;
}

.notification-card {
  background: #fff;
  padding: 12px 16px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.notification-card.unread {
  background: #eef4ff;
  border-left: 5px solid #0d6efd;
}

.notification-card.read {
  opacity: 0.6;
}
