.product-item button {
  background-color: #f68b1e;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  margin: 10px 0;
  padding: 10px 20px;
}

.product-item button:hover {
  background-color: #633d17;
}
